{% extends 'AuctionBundle::base.html.twig' %}
{% block body %}
    <h1>Item edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Update" class="btn btn-primary pull-left"/>
    {{ form_end(edit_form) }}

    <div class="btn-group pull-right">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>

    <div class="btn-group pull-right">
        <a href="{{ path('item_index') }}" class="btn btn-default">Back to the list</a>
    </div>

{% endblock %}
