{% extends 'AuctionBundle::base.html.twig' %}

{% block body %}
    {#<ul>#}
    {#{%  for image in item.images %}#}
    {#<li><img style="height: 280px;width: 100%" src="{{ asset('uploads/items/') ~  image.file  }}"></li>#}
    {#{%  endfor %}#}
    {#</ul>#}
    <div class="row">
        <div class="col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in item.images %}
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="{{ (loop.index == 1) ? 'active' : '' }}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for image in item.images %}
                        <div class="item {{ (loop.index == 1) ? 'active' : '' }}">
                            <img style="height: 280px;width: 100%" class="img-responsive"
                                 src="{{ asset('uploads/items/') ~  image.file  }}"/>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary small">
                <div class="panel-heading panel-heading-sm">
                    <h3 class="panel-title">{{ item.name }}</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th width="20%">Item Condition:</th>
                            <td>{{ item.isUsed }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Item No.:</th>
                            <td>{{ item.itemNo }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Reward Points:</th>
                            <td>{{ item.rewardPoints }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Location:</th>
                            <td>{{ item.location }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Sold By:</th>
                            <td>{{ item.soldBy }}</td>
                        </tr>
                        <tr>
                            <th>Ended Date</th>
                            <td>{% if item.endedAt %}{{ item.endedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th width="15%">Description:</th>
                            <td>{{ item.description }}</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-success">Sign up to bid</button>
            </div>
        </div>
    </div>



{% endblock %}
